<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main client</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/client/select" method="post">
  <p><select name="emp">
    <option value="-1" > Choose employee</option>
    <div th:each="emp : ${emps}">
    <option th:value= "${emp.getId_employee()}" th:text="${emp.getName() + ' ' + emp.getSurname()}">emp</option>
    </div>
  </select></p>

  <p><select name="serv">
    <option value="-1" > Choose type of service</option>
  <div th:each="serv : ${services}">
    <option th:value= "${serv.getId_service()}" th:text="${serv.getName_of_service()}">serv</option>
  </div>
  </select></p>

  <p>Choose the date of begining: <input type="date" name="date_of_begin">

  <p>Choose the date of end: <input type="date" name="date_of_end">

  <p><input id="select_button" type="submit" value="Select"></p>
</form>

<div th:each="client : ${clients}">
  <a th:href="@{/client/{id}(id=${client.getId()})}" th:text="${client.getName() + ' ' + client.getSurname()}" th:id="${client.getId()}" >user </a>
</div>
<br/>
<form action= "/client/new" >
  <p><input id="new_client_button" type="submit" value="Add client"></p>
</form>

<form action= "/greeting" >
  <p><input id="main_button" type="submit" value="Main Page"></p>
</form>

</body>
</html>