<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form th:method="POST" th:action="@{/client}" th:object="${client}">

    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="surname">Surname: </label>
    <input type="text" id="client_name" th:field="*{surname}" id="surname"/>

    <br/>

    <label for="e_mail">E-mail: </label>
    <input type="text" th:field="*{e_mail}" id="e_mail"/>

    <br/>

    <label for="phone">Phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>

    <br/>
    <input id="new_client_button" type="submit" value="Create"/>
</form>

<form action= "/greeting" >
    <p><input id="main_button" type="submit" value="Main Page"></p>
</form>

</body>
</html>