<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/client/{id}(id=${client.getId()})}" th:object="${client}">

    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <br/>

    <label for="e_mail">E-mail: </label>
    <input type="text" th:field="*{e_mail}" id="e_mail"/>

    <br/>

    <label for="phone">Phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>

    <br/>
    <input type="submit" value="Save"/>
</form>

<form th:action= "@{/client/del/{id}(id=${client.getId()})}" >
    <p><input type="submit" value="Delete"></p>
</form>

<form th:action= "@{/client/serv/{id}(id=${client.getId()})}" >
    <p><input type="submit" value="List of services"></p>
</form>

</body>
</html>