<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serv for client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="${ client.getName() + ' ' + client.getSurname()}">VALUE1</p>
List of services
<br/>
<div th:each="serv : ${services}">
    <a th:text="${serv.getName_of_service() + ' ' + serv.getCost_of_service()}">serv </a>
</div>
<br/>

<form action= "/greeting" >
    <p><input id="main_button" type="submit" value="Main Page"></p>
</form>
</body>
</html>